@{ 

}

<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/HTMLCSS/CSS/sidebar.css" />
    <link rel="stylesheet" href="~/HTMLCSS/CSS/main.css" />
    <title>CENAI</title>
</head>
<body div class="bg">
    <div class="sidebar">
        <a class="active" href="~/HTMLCSS/main.cshtml">Pagina Inicial</a>
        <a href="~/HTMLCSS/registro.cshtml">Registro</a>
        <a href="~/HTMLCSS/Listagem.cshtml">Listagem</a>
        <a href="#about">About</a>
    </div>

    <div class="content" id="content">
        
    </div>


    <script src="~/JS/Index.js"></script>
</body>
</html>
