@using Projeto_Final.CSHARP;
@{
    BancoDeDados.DBConnect();
    pessoa Pessoa = new pessoa();
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/HTMLCSS/CSS/sidebar.css" />
    <link rel="stylesheet" href="~/HTMLCSS/CSS/registro.css" />

    <title>CENAI</title>
</head>
<body div class="bg">
<section>
    <nav>
        <div class="sidebar">
            <a href="~/HTMLCSS/main.cshtml">Pagina Inicial</a>
            <a class="active" href="~/HTMLCSS/temps/temp_reg.cshtml">Registro de Usuarios</a>
            <a href="~/HTMLCSS/temps/temp_list.cshtml">Listagem de Usuarios</a>
            <a class="logoff" onclick="LogOff()">Fazer Logoff</a>
        </div>
    </nav>
        <main>
            <div class="content">
                <form method="post">
                    <div class="container">
                        <center>
                            <div class="registro">
                                

                                <!--ENVIAR-->
                                <input type="submit" placeholder="REGISTRAR" /><br />

                            </div>
                        </center>
                    </div>
                </form>
            </div>
        </main>
    </section>
    <script src="~/JS/Index.js"></script>
</body>
</html>
