@using Projeto_Final.CSHARP;
@{
    BancoDeDados.DBConnect();
    pessoa Pessoa = new pessoa();
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/HTMLCSS/CSS/registro.css" />
    
    <title>CENAI</title>
</head>
<body div class="bg">

    <section>
        <aside>
            <form method="post" onsubmit="return checkPassword(this)" action="~/HTMLCSS/temps/temp_reg.cshtml">
                <div class="container">
                    <center>
                        <div class="registro">
                            <!--NIVEL DE ACESSO-->
                            <div class="nivel">

                                <label for="nivacesso">Nivel de Acesso</label><br />
                                <select name="nivacesso" id="nivacesso" required>

                                    <option value="1">Usuario</option>
                                    <option value="2">Professor</option>
                                    <option value="3">Administrador</option>
                                </select><br />

                            </div>
                            <!--NOME-->
                            <input type="text" name="nomeid" id="nomeid" class="campo_nome"
                                   placeholder="Nome do ..." maxlength="25" required /><br />
                            <!--CPF-->
                            <input type="text" name="cpfid" id="cpfid" class="campo_cpf"
                                   placeholder="CPF do ..." maxlength="14" required /><br />
                            <!--EMAIL-->
                            <input type="email" name="emailid" id="emailid" class="campo_email"
                                   placeholder="Email do" maxlength="30" required /><br />
                            <!--TELEFONE-->
                            <input type="tel" name="telid" class="campo_tel"
                                   placeholder="telefone/celular" minxlength="11"
                                   maxlength="14" required /><br />
                            <!--SENHA-->
                            <input type="password" id="senhaid1" name="senhaid" class="campo_senha1"
                                   placeholder="senha" minlength="6" required /><br />
                            <input type="password" id="senhaid2" name="senhaid1" class="campo_senha2"
                                   placeholder="verifique senha" minlength="6" required /><br />

                            <!--ENVIAR-->
                            <input type="submit" placeholder="REGISTRAR" /><br />

                        </div>
                    </center>
                </div>
            </form>
        </aside>
    </section>
    <script src="~/JS/Index.js"></script>
</body>
</html>
