<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/HTMLCSS/CSS/Index.css" />
    <title>CENAI</title>
</head>
<body div class="bg">
    <form method="post" action="~/HTMLTEMP/Checagem/check_login.cshtml">
        <div class="container">
            <div class="login">
                <center>
                    <img src="~/IMG/cenai.png" /><br />
                    <tagline>Bem-vindo!</tagline><br />
                    <input type="text" id="cpfid" name="cpfid" class="campo_cpf" placeholder="CPF apenas numeros" maxlength="11" required />
                    <br />
                    <input type="password" id="senhaid" name="senhaid" class="campo_senha" placeholder="senha" minlength="6" maxlength="16" required />
                    <br />
                    <input type="submit" value="LOGAR" />
                    
                </center>

            </div>
        </div>
    </form>

    <script src="~/JS/Index.js"></script>
</body>
</html>
