
body, html {
    height: 100%;
}

.bg {
    background-image: url(../../IMG/bg.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    overflow: hidden;
}

tagline {
    font-family: "Open Sans Hebrew", "Open Sans", sans-serif;
    font-weight: bold;
}
img{
    width: 250px;

}

form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container {
    background: rgba(0,0,0,0.8);
    backdrop-filter: saturate(180%);
    backdrop-filter: blur(999px);
    
}

.login {
    
    float: left;
    width: 300px;
    height: 300px;
    padding: 20px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 26px 42px rgba(0, 0, 0, 0.5);
}

input[type=password], input[type=text]{
    background-color: #e6e6e6;
    border: none;
    width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 5px;
}


input[type=submit] {
    background-color: hotpink;
    color: #38404d;
    font-weight: bold;
    border: none;
    width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 5px;
}

    input[type=submit]:hover {
        background-color: #ff50a7;
    }


    
