body, html {
    margin: 0;
    min-height: 100%;
}

.bg {
    background-image: url(../../IMG/bg.jpg);
}

.lista {
    width: auto;
    padding-top: 20px;
}

.options {
    display: inline-flex;
}

    .options button {
        border-radius: 10px;
        border: none;
        background: rgba(255, 255, 255, 0.13);
    }

    .options button:hover {
        color: #f1f1f1;
    }

table {
    width: auto;
    overflow-x: auto;
    background: rgba(255, 255, 255, 0.13);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.9px);
    -webkit-backdrop-filter: blur(6.9px);
    border: 1px solid rgba(255, 255, 255, 0.24);
}

td, th {
    font-family: 'Abel';
    text-align: left;
    padding: 8px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

tr:nth-child(even) {
    background-color: #808080;
}

th a, th .dropdown-btn {
    color: black;
    text-decoration: none;
    font-family: 'Abel';
    text-align: left;
    padding: 8px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: contents;
    border: none;
    background: none;
    width: 100%;
    cursor: pointer;
    outline: none;
    z-index: 10;
}

th a:hover, th a:active{
    color: #f1f1f1;
}

th .dropdown-container {
    display: none;
    background: rgba(255, 255, 255, 0.13);
    border-radius: 8px;
}

