
body, html {
    min-height: 100%;
}

input[type=submit] {
    background-color: #c5f6f1;
    border: none;
    width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 5px;
}
input[type=submit]:hover {
    background-color: #b3ddd9;
}

    
